.moto-heading-bold {
  font-weight: 600;
  padding: 0;
  margin: 0;
  text-transform: uppercase; }

.moto-heading-main, #loginForm .panel-heading {
  color: #333;
  border-color: #ddd;
  background: #FFF;
  font-size: 31px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #ddd; }
  .moto-heading-main i.fa, #loginForm .panel-heading i.fa {
    color: #920001;
    padding-right: 10px; }

.moto-heading-regular {
  font-weight: 500;
  font-size: 16px; }

.panel {
  border-radius: 0; }

.moto-list-box li {
  margin: 15px;
  width: 25%;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.2s;
  padding: 0;
  border-radius: 0 !important; }
  .moto-list-box li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px; }
    .moto-list-box li a i {
      font-size: 40px;
      text-align: center;
      display: block;
      color: #333; }
    .moto-list-box li a span {
      padding-top: 10px;
      font-weight: 600;
      text-align: center;
      display: block;
      color: #333; }

.moto-list-box li:hover {
  background: #E2E1E1; }

.moto-list-box .fa.fa-check.big-check {
  pointer-events: none; }

#information .incomeItem .incomeHeader:hover {
  background: #E2E1E1; }

#information .incomeItem {
  position: relative;
  overflow: hidden; }

#information .incomeItem .incomeHeader {
  padding: 10px;
  background: #F3F3F3;
  font-size: 16px;
  border: 1px solid #E2E1E1;
  border-bottom: none;
  cursor: pointer;
  text-transform: capitalize;
  transition: background 0.2s;
  padding-left: 40px;
  border: 1px solid lightgrey;
  border-top: none; }
  #information .incomeItem .incomeHeader .fa.fa-trash {
    float: right;
    font-size: 21px;
    display: block;
    position: absolute;
    top: 0px;
    padding: 10px;
    color: #333333;
    right: 10px; }
  #information .incomeItem .incomeHeader .fa.fa-angle-down, #information .incomeItem .incomeHeader .fa.fa-angle-right {
    font-size: 20px;
    font-weight: 500;
    padding-right: 15px;
    float: left;
    color: #C1C1C1;
    position: absolute;
    left: 15px; }
  #information .incomeItem .incomeHeader .fa.fa-trash:hover {
    color: #920001; }

#information #incomeForm:first-child {
  border-top: 1px solid lightgrey; }

#information .incomeItem .transitionWrapper .incomeBox {
  padding: 10px; }

#information .incomeItem .transitionWrapper.expand {
  overflow: hidden;
  max-height: 1px; }

#information .incomeItem .transitionWrapper {
  max-height: 470px;
  overflow: hidden;
  transition: max-height 0.2s linear; }

.big-check {
  position: absolute;
  right: 0;
  font-weight: 500;
  color: green;
  font-size: 32px; }

.big-warning {
  position: absolute;
  top: -6px;
  right: 4px;
  font-weight: 500;
  color: #920001 !important;
  font-size: 26px; }

.fa-spin.fa-3x {
  -webkit-animation: fa-spin 0.5s infinite linear;
  animation: fa-spin 0.5s infinite linear;
  color: #920001; }

.spinner-parent {
  position: relative; }

div.spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9); }
  div.spinner i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px; }

.spinner[name="infoSpin"] {
  position: static;
  margin-left: 0;
  margin-top: 0; }

.spinner-parent-checklist {
  min-height: 200px; }

div.checklist-spinner {
  margin-top: 1px;
  margin-left: 1px;
  width: 99%;
  height: 99%; }

html, body {
  font-family: 'Open Sans', sans-serif;
  background: #FFF;
  height: 100%; }

#maincontent {
  min-height: calc(100% - 165px); }

a:hover {
  text-decoration: none;
  cursor: pointer; }

.logoHeader section.branding img, .logoHeader section.branding div, .logoHeader section.branding p {
  float: left; }

.logoHeader {
  min-height: 60px;
  padding: 10px 0px; }

.logoHeader section.branding {
  margin-top: 10px; }

.logoHeader section.branding p {
  width: 100px;
  line-height: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 2px;
  padding-left: 10px;
  border-left: 1px solid #333;
  margin-left: 5px; }

.panel {
  border: none;
  padding: none;
  box-shadow: none; }

.logoutButton, .logoutButton:hover {
  color: #920001;
  text-transform: lowercase; }

.info {
  background: #EFEFEF;
  border: 1px solid #ddd;
  padding: 10px;
  min-height: 37px; }

#mainContent h3 {
  text-align: center;
  font-size: 20px;
  line-height: 1.3em;
  margin: 30px 0 30px 0; }

#verificationChecklist {
  float: right; }

#DealerPhone {
  clear: left; }

#loginForm {
  width: 320px;
  margin: 30px auto;
  min-height: 100%; }
  #loginForm .panel-heading {
    color: #333;
    border: none;
    padding-left: 0;
    font-size: 26px; }
  #loginForm .panel-body {
    border: 1px solid #ddd; }

.validation-error-input {
  border-color: #F1BEBF; }

.validation-error-message {
  padding-top: 5px;
  color: #920001; }
  .validation-error-message :before {
    content: "*"; }

#verificationChecklist > .panel-body {
  padding: 0;
  /*border: 1px solid lightgrey;*/
  margin: 15px;
  margin-top: 34px; }
  #verificationChecklist > .panel-body ul {
    padding: 0;
    border: 1px solid lightgrey; }
    #verificationChecklist > .panel-body ul .transitionWrapper {
      max-height: 2px;
      overflow: hidden;
      transition: max-height 0.2s linear; }
    #verificationChecklist > .panel-body ul .transitionWrapper.expand {
      max-height: 250px; }
    #verificationChecklist > .panel-body ul li:first-child {
      border-top: none; }
    #verificationChecklist > .panel-body ul div:last-child li {
      border-bottom: none; }
    #verificationChecklist > .panel-body ul div:last-child div.expand {
      border-top: 1px solid lightgrey;
      margin-top: 1px; }
    #verificationChecklist > .panel-body ul li {
      transition: background 0.2s;
      border-right: none;
      border-left: none;
      font-weight: 500;
      font-size: 16px;
      padding-left: 40px;
      border-radius: 0;
      background: #F3F3F3; }
      #verificationChecklist > .panel-body ul li i.fa {
        font-size: 20px;
        font-weight: 500;
        padding-right: 15px;
        float: left;
        color: #C1C1C1; }
      #verificationChecklist > .panel-body ul li i.fa.fa-angle-right, #verificationChecklist > .panel-body ul li i.fa.fa-angle-down {
        position: absolute;
        left: 15px; }
      #verificationChecklist > .panel-body ul li i.fa.fa-check, #verificationChecklist > .panel-body ul li i.fa.fa-warning {
        float: right;
        padding-right: 5px; }
      #verificationChecklist > .panel-body ul li i.fa.fa-check {
        color: green; }
    #verificationChecklist > .panel-body ul li:hover {
      cursor: pointer;
      background: #E2E1E1; }

.verification-details {
  padding: 20px; }
  .verification-details p.disclaimer {
    font-style: italic; }

#uploadFiles {
  padding: 15px;
  border: 1px solid lightgrey; }
  #uploadFiles > p {
    font-size: 16px;
    margin-bottom: 5px;
    padding: 10px;
    padding-top: 0; }

.ways {
  padding: 0px 15px; }
  .ways i {
    padding: 20px;
    font-size: 20px; }
  .ways > span {
    font-size: 20px; }

.red {
  color: #920001; }

.redLink {
  color: #920001;
  font-weight: 600;
  padding: 15px 15px 0 0;
  cursor: pointer;
  margin-bottom: 15px;
  display: block; }

.redLink:hover {
  color: #920001; }

.phoneSection {
  margin: 35px 15px;
  font-size: 20px;
  text-align: center;
  border: 1px solid lightgrey;
  padding: 40px 5px;
  line-height: 2em; }
  .phoneSection a {
    text-decoration: none; }

.uploadArea {
  margin: 15px;
  text-align: center;
  padding: 20px;
  border: 1px solid lightgrey;
  cursor: pointer; }
  .uploadArea label {
    cursor: pointer; }
  .uploadArea .fa.fa-upload {
    padding: 5px;
    font-size: 60px;
    color: #CCCCCC; }
  .uploadArea span {
    font-size: 20px;
    display: block;
    color: #CCCCCC; }
  .uploadArea input {
    display: none; }
  .uploadArea > a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0;
    display: block; }

.uploadArea:hover .fa.fa.fa-upload, .uploadArea:hover span {
  /*color:#337ab7;*/ }

.fa.fa-warning {
  /*color:#f4b51e*/
  color: #920001 !important; }

input[type="text"], input[type="password"], input[type="submit"], .btn-primary, .btn-default, select {
  border-radius: 0 !important; }

input[type="radio"] {
  width: 20px;
  height: 20px; }

#checklist {
  min-height: 220px; }

form {
  overflow: hidden; }

#addIncomeSource {
  display: block;
  padding: 10px;
  width: 50px;
  text-align: center;
  background: #FFFFFF;
  font-size: 16px;
  color: #333333;
  border: 1px solid lightgrey;
  margin-top: 10px;
  cursor: pointer; }

.modal-content {
  border-radius: 0; }

.modal-footer .btn-warning {
  border-radius: 0; }

.btn-warning {
  border-radius: 0; }

@media only screen and (max-width: 992px) {
  #verificationChecklist {
    float: none; } }

@media only screen and (max-width: 480px) {
  .panel {
    padding: 0; }
  .panel-body {
    margin: 0; }
  .moto-heading-main i.fa, #loginForm .panel-heading i.fa, #loginForm .panel-heading i.fa {
    padding-left: 10px; }
  .uploadArea {
    margin: 0;
    padding: 0; }
  .fa-cloud-upload, .fa-envelope {
    padding: 5px; } }

@media only screen and (max-width: 1220px) {
  #information li {
    width: 100%;
    display: block;
    width: 100%;
    margin: 0;
    display: block;
    padding: 0;
    border-bottom: none; }
    #information li i.fa {
      font-size: 29px;
      text-align: center;
      display: inline;
      color: #333;
      position: absolute;
      top: 13px; }
    #information li a > span {
      display: inline-block;
      padding-left: 50px;
      padding-top: 5px; }
    #information li .fa-check, #information li .fa-warning {
      top: 10px;
      right: 10px; }
  #information ul:last-child {
    border-bottom: 1px solid lightgrey; } }

#refreshChecklist {
  font-size: 16px;
  display: block;
  float: right;
  position: relative;
  top: 16px;
  cursor: pointer;
  font-weight: 500; }
  #refreshChecklist i {
    margin-left: 10px; }
